gym==0.17.3
numpy==1.19.5
yacs==0.1.8
numpy-quaternion==2021.11.4.15.26.3
attrs==21.2.0
opencv-python==4.5.4.58
pickle5==0.0.11
# visualization optional dependencies
imageio==2.10.3
imageio-ffmpeg==0.4.5
scipy==1.5.4
tqdm==4.62.3
numba==0.53.1
wandb==0.12.9
